.stMarkdown h1, .stMarkdown h2, .stMarkdown h3 {
    color: #DBA64C !important;
}

[data-testid="stSidebar"] {
    background-color: #1a1a1a;
}

.main > div {
    padding-top: 0 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.metric-value {
    color: #1D1E9E !important;
}